.wrap_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--color-black);
  transition: ease 0.7s;
}

.wrap_logo div {
  width: 100px;
  height: 75px;
  margin: 10px;
}

.wrap_logo:hover {
  transform: scale(1.05);
  color: var(--color-text_link);
}

#highlight {
  border-bottom: 2px solid black;
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.top-menu {
  color: var(--color-black);
  display: grid;
  padding: 12px;
  grid-template-columns: auto auto auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
}

.top-menu .page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.top-menu .page a {
  color: var(--color-black);
  padding: 0 16px;
  font-size: 17px;
  text-decoration: none;
  transition: ease 0.5s;
}


.top-menu .page a:hover {
  text-decoration: underline;
  transform: translate(0, -2px);
}

.top-menu .icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-menu .icon a {
  text-decoration: none;
  color: white;
}

.top-menu .icon i {
  padding: 0 16px;
  cursor: pointer;
  font-size: 19px;
}

.lines {
  border-right: 1px solid white;
  height: 36px;
}

.main-content .selector {
  padding: 16px 0px;
  text-align: center;
}

.main-content .selector a {
  font-size: 17px;
  font-weight: 500;
  color: #989898;
  padding: 12px 22px;
}

#products {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2.5em 0;
}

#products .card {
  max-width: 18em;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.7s;
}

#products .card:hover {
  transform: translateY(-0.1in);
}

#products .card .image-container {
  text-align: left;
}

#products .card .image-container img {
  max-width: 100%;
  object-fit: contain;
  height: 20em;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

#products .card .container {
  padding-top: 1em;
  color: #110f29;
}

#products .card .container h5 {
  font-weight: 500;
  font-size: 18px;
}

#products .card .container h6 {
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
}

#products .card .container button {
  background-color: white;
  border: none;
  border: solid 1px black;
  margin-top: 14px;
  padding: 5px 0px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

#products .card .container button:hover {
  background-color: black;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b8fbfb;
  border-radius: 10%;
  padding: 5px;
  z-index: 1;
}

.dropdown-content button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.account:hover .dropdown-content {
  display: block;
}

@keyframes underline-animation {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}